body {
  background: #f3ffc6;
  font-family: Arial;
}

li {
  padding: 5px;
}
.top-bar {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
  background-color: rgb(28, 82, 83);
  color: #f3ffc6;
  border-radius: 10px;
  font-size: 14pt;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid rgb(182, 23, 75);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgb(48, 107, 52);
  border-radius: 4px;
  border: 1px solid rgb(182, 23, 75);
  cursor: pointer;
  margin: 0;
  padding: 5px;
  color: #f3ffc6;
}

.empty-cart {
  background-color: rgb(182, 23, 75);
  border-radius: 4px;
  border: 1px solid rgb(48, 107, 52);
  cursor: pointer;
  margin: 0;
  padding: 5px;
  color: #f3ffc6;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}
